* {
  scrollbar-width: thin;
  scrollbar-color: #4c4c4c #e6e5e5;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #e6e5e5;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcbbbe;
  border-radius: 15px;
  border: 0px solid #9a979b;
}
